<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23636367470-5jd275vobj6lon6r4h3m17c7hblm1109.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23636367470-5jd275vobj6lon6r4h3m17c7hblm1109</string>
	<key>API_KEY</key>
	<string>AIzaSyD0xaQySawc_MXrbuLcEW2vcdYzL8Ymd5s</string>
	<key>GCM_SENDER_ID</key>
	<string>23636367470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sundeefundee.app</string>
	<key>PROJECT_ID</key>
	<string>sundee-fundee</string>
	<key>STORAGE_BUCKET</key>
	<string>sundee-fundee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23636367470:ios:35dce13a6a4022b5f66e7f</string>
</dict>
</plist>